.button {
  display: inline-block;

  margin: 0;
  padding: 10px 5px;
  border: 1px solid #cc9694;
  border-radius: 4px;
  width: 100%;
  max-width: 200px;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  color: #000000;
  background-color: #cc9694;

  font-family: $font-main;
  font-size: 1rem;

  text-decoration: none;
  text-align: center;

  cursor: pointer;

  transition: color 300ms ease-in-out, background-color 300ms ease-in-out;

  &--small {
    padding: 5px 10px;
  }

  &--large {
    padding: 10px 20px;

    font-size: 1rem;

    @media (min-width: $max-width / 2) {
      font-size: 1rem;
    }
  }

  &:hover {
    color: #cc9694;
    background-color: #000000;
  }
}
