.header {
  position: relative;
  top: 0;
  left: 0;
  z-index: 10;

  width: 100%;

  &__content {
    margin-left: -$gutter;
    margin-right: -$gutter;

    padding: $gutter;

    color: #000000;
    background-color: #afb281;
  }

  &__title{

    text-align: center;
    font-family: $font-heading;
    font-size: 2rem;

  }

  &__row{
    display: flex;
    max-width: $max-width;
    margin: 0 auto;
  }

  &__col {
    @include columns(4);

    text-align: center;

    @media (min-width: $max-width / 2) {
      @include columns(3);

      &:first-child {
        margin-left: (3/12*100) * 1%;
      }
    }
  }

  &__nav{
    display: flex;
  }

  &__list{
    display: flex;
    justify-content: center;
    a {
      text-decoration: none;
      color: #000000;
    }
  }

  &__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    font-size: 1rem;

    &--button{
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin: 10px;
      font-size: 1rem;

    }

  }

}
